<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{{ app_name }} {{ version }}{% endblock %}</title>
        {% block javascripts %}
            {% javascripts '@jquery_js' '@bootstrap_js' filter='?yui_js' combine=true %}
                 <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        {% block stylesheets %}
            {% stylesheets '@bootstrap_less' combine=true %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        
         <script type="text/javascript" src="/bundles/diggertreedemo/js/vendor/jstree/jquery.jstree.js"></script>

        {% javascripts '@DiggerTreeDemoBundle/Resources/public/js/*' %}
             <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .sidebar-nav {
                padding: 9px 0;
            }

            @media (max-width: 980px) {
                /* Enable use of floated navbar text */
                .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
            
            .bs-docs-example {
                position: relative;
                margin: 15px 0;
                padding: 39px 19px 14px;
                background-color: #fff;
                border: 1px solid #ddd;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
             }

            .bs-docs-example:after {
                content: "Example";
                position: absolute;
                top: -1px;
                left: -1px;
                padding: 3px 7px;
                font-size: 12px;
                font-weight: bold;
                background-color: #f5f5f5;
                border: 1px solid #ddd;
                color: #9da0a4;
                -webkit-border-radius: 4px 0 4px 0;
                -moz-border-radius: 4px 0 4px 0;
                border-radius: 4px 0 4px 0;
            }
            
            #js_tree_wrap a { white-space:normal !important; height: auto; padding:1px 2px; }
            #js_tree_wrap li > ins { vertical-align:top; }
            #js_tree_wrap .jstree-hovered, #demo4 .jstree-clicked { border:0; }
        </style>
    </head>
    <body data-spy="scroll" data-target=".bs-docs-sidebar">
        <!-- Navbar
        ================================================== -->
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
          
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
              </button>
              <a   href="{{ path('reload') }}" ><button class="btn btn-warning" type="button">Reload</button></a>
              <a class="brand" href="/">{{ app_name }} {{ version }}</a>
               <div class="nav-collapse collapse">
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
        {% block content %}
        {% endblock %}
        </div> <!-- /container -->

        <hr>

      <footer>
        <p>&copy; Tree Demo by Digger 2013</p>
      </footer>

    </body>
</html>